p{
    text-indent: 15px;;
}

ul{
    list-style-type: none;
}

a{
    color:#a8dadc;
    text-decoration: none;
}

a:hover{
    color:#f1faee;
}

body{
    background-color: #457b9d;
    color:#f1faee;
}

h1,h2,h3{
    color:#1d3557;
}

.header{
    background-color: #1d3557;
}

.cont{
    color:#f1faee !important;
}

.container{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: row;
}

.center-text{
    text-align: center;
}

.center-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center{
    align-self: center;
}

.rounded{
    border-radius: 50%;
}

.spaced-evenly{
    justify-content: space-evenly;
}

.space-around{
    justify-content: space-around;
}

.small-image{
    width:25%;
}

.large-image{
    width:50%;
}

.margin{
    margin:5px;
}

.contact{
    margin-right:15px;
}

.nav{
    margin-right: 50px;;
}

.craft-image{
    width:100%;
    height:65%;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.craft-group{
    display: flex;
    flex-direction: row;
}

.craft-text{
    height:30%;
    margin:5px;
}

.craft-project{
    margin:5px;
    width:33.33%;
}

@media(max-width:650px){
    p{
        font-size: small;
    }

    .craft-group{
        flex-direction: column;
    }

    .craft-project{
        width: 100%;
    }

    .craft-image{
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .large-image{
        width:90%;
    }
    .small-image{
        width:50%;
    }
}