p{
    margin:10px;
    text-indent: 10px;
}

.text{
    height: 250px;
}

.center-text{
    text-align: center;
}

.center{
    align-self: center;
}

.row{
    display:flex;
    flex: column;
    justify-content: space-around;
}

.col{
    margin:5%;
    width:33%;
    display: flex;
    flex-direction: row;
    }