
.center{
    align-self: center;
}

.center-image{
    margin-top:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.center-text{
     text-align: center;
}

.row{
    display:flex;
    flex: column;
    justify-content: space-around;
}

.col{
    margin:5%;
    width:33%;
    display: flex;
    flex-direction: row;
    }

.round{
    border-radius: 50%;
}

.small-image{
    width:25%
}